<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div>
      <div>
          <button class="button icon ion-heart" ng-click="showActionsheet()" ng-hide="picData" ng-model="userpicy"></button>
          <br>
          <div ng-show="picData">
            <img id="myImage" width="100px" height="100px" ng-src="{{picData}}" ng-click="showActionsheet()"/>
          </div>
         <!--  <button class="button" ng-click="uploadPicture()">upload</button> -->
        </div>
    </div>

    <div>
      <div>
          <button class="button icon ion-heart" ng-click="showActionsheet()" ng-hide="picData" ng-model="userpicy"></button>
          <br>
          <div ng-show="picData">
            <img id="myImage" width="100px" height="100px" ng-src="{{picData}}" ng-click="showActionsheet()"/>
          </div>
         <!--  <button class="button" ng-click="uploadPicture()">upload</button> -->
        </div>
    </div>
    <div>
      <div>
          <button class="button icon ion-heart" ng-click="showActionsheet()" ng-hide="picData" ng-model="userpicy"></button>
          <br>
          <div ng-show="picData">
            <img id="myImage" width="100px" height="100px" ng-src="{{picData}}" ng-click="showActionsheet()"/>
          </div>
         <!--  <button class="button" ng-click="uploadPicture()">upload</button> -->
        </div>
    </div>
  </ion-content>
</ion-view>
